<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">login</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap.css"
          th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap-theme.css"
          th:href="@{css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap-theme.min.css"
          th:href="@{css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/main.css" th:href="@{css/main.css}"/>
    <link rel="shortcut icon" type="image/png" href="/src/main/resources/static/favicon.ico" th:href="@{favicon.ico}"/>
</head>
<body>
<div th:include="fragments/nav :: nav"></div>
<div class="panel panel-primary">
    <div class="panel-heading">User Data</div>
    <div class="panel-body">
        <form class="form-horizontal" action="#" th:action="@{/user}" th:object="${updateUserModel}" method="post">
            <div class="form-group">
                <label for="emailAddress" class="control-label col-xs-2">Email Address</label>

                <div class="col-xs-10">
                    <input class="form-control" id="emailAddress" type="text" th:value="*{user.emailAddress}"/>
                </div>

                <label for="firstName" class="control-label col-xs-2">First Name</label>

                <div class="col-xs-10">
                    <input class="form-control" id="firstName" type="text" th:value="*{user.contactDTO.firstName}"/>
                </div>

                <label for="lastName" class="control-label col-xs-2">Last Name</label>

                <div class="col-xs-10">
                    <input class="form-control" id="lastName" type="text" th:value="*{user.contactDTO.lastName}"/>
                </div>

                <label for="zipCode" class="control-label col-xs-2">Zip Code</label>

                <div class="col-xs-10">
                    <input class="form-control" id="zipCode" type="text" th:value="*{user.contactDTO.zipCode}"/>
                </div>

                <label for="city" class="control-label col-xs-2">city</label>

                <div class="col-xs-10">
                    <input class="form-control" id="city" type="text" th:value="*{user.contactDTO.city}"/>
                </div>

                <label for="streetLine" class="control-label col-xs-2">Street Line</label>

                <div class="col-xs-10">
                    <input class="form-control" id="streetLine" type="text" th:value="*{user.contactDTO.streetLine}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">update</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>