<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">messages</title>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap.css" th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap-theme.css"
          th:href="@{css/bootstrap-theme.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/bootstrap-theme.min.css"
          th:href="@{css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/main.css" th:href="@{css/main.css}" />
    <link rel="shortcut icon" type="image/png" href="/src/main/resources/static/favicon.ico" th:href="@{favicon.ico}"/>
</head>
<body>
<div th:include="fragments/nav :: nav"></div>
<div th:include="fragments/message_nav :: message_nav"></div>

<div class="panel panel-primary">
    <div class="panel-heading">Send</div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>Sender</td>
                <td>Messages</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message : ${messageModel.outBox}">
                <td th:text="${message.emailAddress}"/>
                <td th:text="${message.message}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>